<a href="https://colab.research.google.com/github/2303A51111/B3_PFDS_1111/blob/main/LAB_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

t = pd.DataFrame({
    'tid': [1, 2, 3, 4],
    'tname': ['Alice', 'Bob', 'Charlie', 'David'],
    'dept': ['CSE', 'CSE', 'AI', 'CSE']
})

c = pd.DataFrame({
    'cid': [101, 102, 103, 104, 105, 106],
    'cname': ['Python', 'DBMS', 'AI Basics', 'ML', 'OS', 'Deep Learning'],
    'tid': [1, 2, 2, 3, 4, 3]
})

print("Teachers:\n", t, "\n")
print("Courses:\n", c)

im = pd.merge(c, t, on='tid', how='inner')
lm = pd.merge(t, c, on='tid', how='left')

print("\nInner Join:\n", im)
print("\nLeft Join:\n", lm)

Teachers:
    tid    tname dept
0    1    Alice  CSE
1    2      Bob  CSE
2    3  Charlie   AI
3    4    David  CSE

Courses:
    cid          cname  tid
0  101         Python    1
1  102           DBMS    2
2  103      AI Basics    2
3  104             ML    3
4  105             OS    4
5  106  Deep Learning    3

Inner Join:
    cid          cname  tid    tname dept
0  101         Python    1    Alice  CSE
1  102           DBMS    2      Bob  CSE
2  103      AI Basics    2      Bob  CSE
3  104             ML    3  Charlie   AI
4  105             OS    4    David  CSE
5  106  Deep Learning    3  Charlie   AI

Left Join:
    tid    tname dept  cid          cname
0    1    Alice  CSE  101         Python
1    2      Bob  CSE  102           DBMS
2    2      Bob  CSE  103      AI Basics
3    3  Charlie   AI  104             ML
4    3  Charlie   AI  106  Deep Learning
5    4    David  CSE  105             OS

In [2]:
import pandas as pd

t = pd.DataFrame({
    'tid': [1, 2, 3, 4],
    'tname': ['Alice', 'Bob', 'Charlie', 'David'],
    'dept': ['CSE', 'CSE', 'AI', 'CSE']
})

c = pd.DataFrame({
    'cid': [101, 102, 103, 104, 105, 106],
    'cname': ['Python', 'DBMS', 'AI Basics', 'ML', 'OS', 'Deep Learning'],
    'tid': [1, 2, 2, 3, 4, 3]
})

print("Teachers:\n", t, "\n")
print("Courses:\n", c)

im = pd.merge(c, t, on='tid', how='inner')
lm = pd.merge(t, c, on='tid', how='left')

print("\nInner Join:\n", im)
print("\nLeft Join:\n", lm)

Teachers:
    tid    tname dept
0    1    Alice  CSE
1    2      Bob  CSE
2    3  Charlie   AI
3    4    David  CSE

Courses:
    cid          cname  tid
0  101         Python    1
1  102           DBMS    2
2  103      AI Basics    2
3  104             ML    3
4  105             OS    4
5  106  Deep Learning    3

Inner Join:
    cid          cname  tid    tname dept
0  101         Python    1    Alice  CSE
1  102           DBMS    2      Bob  CSE
2  103      AI Basics    2      Bob  CSE
3  104             ML    3  Charlie   AI
4  105             OS    4    David  CSE
5  106  Deep Learning    3  Charlie   AI

Left Join:
    tid    tname dept  cid          cname
0    1    Alice  CSE  101         Python
1    2      Bob  CSE  102           DBMS
2    2      Bob  CSE  103      AI Basics
3    3  Charlie   AI  104             ML
4    3  Charlie   AI  106  Deep Learning
5    4    David  CSE  105             OS